* {
 
}

body {
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);*/
}


.add-entry {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formcontainer {
    border-radius: 25px;
    background-color: aqua;
    border: 1px solid grey;
    margin-top: 30px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.content {
    display: block;
    padding: 30px
}

.entrylist {
    list-style-type: none;
    padding: 0;
}

.journal {
    /* border: 1px solid gray; */
}

.center {
    margin: auto;
}

.entryitem {
    margin-bottom: 1.5em;
    width: 80%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

