body {
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);*/
}

h1 {
    text-align: center;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-entry {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formcontainer {
    width: 600px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 30px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.content {
    padding: 30px
}

.formrow{
    display: flex;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* https://www.quora.com/Why-does-the-textarea-exceed-100-in-width-when-I-set-that-in-CSS#:~:text=To%20ensure%20that%20the%20textarea,in%20the%20element's%20total%20width. */
}

.name {
    width: 100%;
    position: relative;
}

.date {

}




.entrylist {
    list-style-type: none;
    padding: 0;
}

.journal {
    /* border: 1px solid gray; */
}

.center {
    margin: auto;
}

.entryitem {
    margin-bottom: 1.5em;
    width: 80%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}